<div class="main-container">
    <h2 class="history-title">{{ 'INVOICE.TITLE' | translate }}</h2>

    <div class="invoices-container"> 
        <!-- Gráfico mensual de facturas -->
        <div class="chart-container" *ngIf="chartOptions">
            <apx-chart
                [series]="chartOptions.series || []"
                [chart]="chartOptions.chart ? chartOptions.chart : { type: 'bar' }"
                [xaxis]="chartOptions.xaxis || {}"
                [title]="chartOptions.title || {}"
                [colors]="chartOptions.colors || []">
            </apx-chart>
        </div>

        <!-- Tabla Facturas -->
        <div class="table-container">
            <table mat-table [dataSource]="invoices" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{ 'INVOICE.NAME' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{ invoice.name }} </td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>{{ 'INVOICE.DATE' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{ invoice.date }} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>{{ 'INVOICE.AMOUNT' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{ invoice.amount | number:'1.2-2' }}€ </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>{{ 'INVOICE.ADDRESS' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice"> {{ invoice.address }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>{{ 'INVOICE.PDF' | translate }}</th>
                    <td mat-cell *matCellDef="let invoice">
                        <button mat-button color="primary" (click)="downloadPDF(invoice)">
                            {{ 'INVOICE.PDF' | translate }}
                        </button>
                    </td>
                </ng-container>

                <!-- Columnas de la tabla -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>
