// Tema personalizado para Doble Electricidad
@use "theme/doble-electricidad-theme.scss";

html,
body {
  height: 100%;
  background-color: #f4f7fc;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
